body {
    font-family: Arial, sans-serif;
    background: #E8DED6;
    text-align: center;
    margin: 0;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: #D3E3B8;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2, h3 {
    color: #7a5f3a;
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #777;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: #b8cc8f;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #6b7a4a;
    color: white;
}

.card {
    background: #ecf0f1;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.preview-img {
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    display: none;
}

.success-msg {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

.right-bottom {
    position: absolute;
   right: -150px;
   top: 810px;
   transform: translate(-50%);
   width: 300px;
   height: 300px;
}